@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

html {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
}

body {
  font-size: 10.2em;
  line-height: 1.333;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  @media screen and (min-width: 21.052631579em) {
    font-size: 1.4em;
  }
  @media screen and (min-width: 29.894736842em) {
    font-size: 1.6em;
  }
}

.page_footer {
  font-size: .842105263em;
  padding: .4rem 0 .3rem 0;
  @media screen and (min-width: 21.052631579em) {
   padding: .6rem 0 .5rem 0;
  }
}

.wrap {
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  padding: 0 0.714rem;
}

.page_content{
  -webkit-flex: 1;
  flex: 1;
	padding: 3rem 0;
	a {
		color: $main-color;
		border-bottom: 1px dashed currentColor;
		text-decoration: none;
	}
}
