@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

html {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
}

body {
  font-size: 1em;
  line-height: 1.333;
  color: $font-color;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page_header {
  flex: 0;
}

.page_content {
  flex: 1;
}

.page_footer {
  flex: 0;
}

.wrap {
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  padding: 0 0.714rem;
}

.page_content{
	padding: 2rem 0;
	a {
		color: $main-color;
		border-bottom: 1px dashed currentColor;
		text-decoration: none;
	}
}
