.charity_coding {

  .button {
    text-align: center;

    a {
      padding: 10px 20px;
      background-color: #EA3657;
      color: white;
      border: 1px solid #eee;
    }
  }

  a.image_link {
    border:none;
  }

}
