.eventlist {
  padding: 0;
  margin: 0;
}

.eventlist-element {
  list-style: none;
}

.eventlist-element__title {

}

.eventlist-element__date-number,
.eventlist-element__date-day {
  display: block;
}
