

.eventlist {
  padding: 0;
  margin: 0;
}

.eventlist-element {
  margin-bottom: 1.5rem;
  list-style: none;
  .eventlist-element__link {
    text-decoration: none;
    border-bottom: none;
    color: $font-color;
  }
}

.eventlist-element__link {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}


.eventlist-element__date {
  text-align: right;
  padding-right: 1rem;
  min-width: 2.5em;
  align-self: flex-start;
}

.eventlist-element__date-day {
  display: block;
  font-size: 1.4em;
}

.eventlist-elemnt-infowrap {
  margin-right: auto;
  padding-left: 1rem;
  border-left: 1px solid $font-color;
}

.eventlist-element__title {
  display: block;
  font-size: 1.4em;
  margin-bottom: .3rem;
  color: $main-color;
}
.eventlist-element__venue,
.eventlist-element__time {
  position: relative;
  &:after {
    content: "|";
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.eventlist-element__venue {
  display: inline-block;
}
